### Test Resources ###
**/src/test/resources/**
**/src/main/resources/**
**/src/main/java/com/revature/creds.json
**/src/main/java/com/revature/creds.xml
/test-output/

### Production Directory ###
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
